@model GamingRoom.Models.EventTitles

@{
    ViewBag.Title = "Elimina Titolo Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height:100vh">
    <div class="row justify-content-center align-items-center" style="height:100%">
        <div class="col-md-8">
            <div class="card mt-5 text-white" style="background-color: rgb(157, 0, 255)!important">
                <div class="card-header">
                    <h2 class="text-center">Elimina Titolo Evento</h2>
                </div>
                <div class="card-body">
                    <h3 class="text-center">Sei sicuro di voler eliminare questo titolo evento?</h3>
                    <dl class="dl-horizontal">
                        <dt>Nome Evento</dt>
                        <dd>@Model.Events.Name</dd>
                        <dt>Titolo</dt>
                        <dd>@Model.Titles.Name</dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                   
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Elimina</button>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Annulla</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
